<div *ngIf="productLoaded | async; then productEdit else loading"></div>
<ng-template #productEdit>
    <form [formGroup]="formEditor" (ngSubmit)="onSubmit(formEditor.value)">
        <div class="form-group">
            <label for="name">Название</label>
            <input id="name" class="form-control" formControlName="name" type="text" placeholder="Название">
        </div>
        <div class="form-group">
            <label for="series">Серия</label>
            <input type="text" class="form-control" id="series" placeholder="Серия" formControlName="series">
        </div>
        <div class="form-group">
            <label for="manufacturer">Производитель</label>
            <input type="text" class="form-control" id="manufacturer" placeholder="Производитель" formControlName="manufacturer">
        </div>
        <div class="form-group">
            <label for="vendorCode">Артикул</label>
            <input type="text" class="form-control" id="vendorCode" placeholder="Артикул" formControlName="vendorCode">
        </div>
        <div class="form-group">
            <label for="images">Изображение</label>
            <input
                id="images"
                class="form-control"
                type="file"
                (change)="handleImageChange($event.target.files)"
            >
        </div>

        <div class="form-group">
          <div class="product-image--preview">
            <img *ngIf="previewProductImage"
                 src="{{previewProductImage}}"
                 alt="selected image preview"
            >
          </div>
          <div class="product-images">
            <img *ngFor="let imageId of product.imageIds" src="/images/{{imageId}}">
          </div>
        </div>

        <div class="btn-group">
            <button class="btn btn-success" type="submit">Сохранить</button>
            <button class="btn btn-warning" (click)="onResetForm($event)">Сброс</button>
            <button class="btn btn-danger" (click)="onDeleteProduct($event)" *ngIf="product.id">Удалить</button>
        </div>
    </form>
</ng-template>
<ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
</ng-template>
